body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2b203e;
    color: #ffffff;
    text-align: center;
    padding-top: 70px;
}

nav {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    background-color: #383440;
    padding: 15px;
    z-index: 1000;
}

nav a {
    color: #383440;
    padding: 15px;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #383440;
    padding: 15px;
}

button {
    background-color: #3e2a5f;
    border: 2px solid #7e5fc1;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #383440;
    padding: 15px;
    color: #ffffff;
}

hr {
    border: 1px solid #383440;
    padding: 15px;
    margin: 20px 0;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.produto img {
    border-radius: 10px;
}

.produtos {
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.produtos h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #a855f7;
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.produto {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.produto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(168, 85, 247, 0.6);
}

.produto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.produto h3 {
    margin: 15px 0 10px;
}

.produto p {
    margin-bottom: 15px;
    font-weight: bold;
}

.produto button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #a855f7;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.produto button:hover {
    background-color: #383440;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color:#462e76;
    border-bottom: 1px solid #2a2a2a;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #edeaf0;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s;
}

.menu a:hover {
    color: #a855f7;
}

.rodape {
    text-align: center;
    padding: 20px;
    background-color: #121212;
    margin-top: 50px;
    border-top: 1px solid #2a2a2a;
    color: #888;
}

.botao-destaque {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 28px;
    background-color: #7c3aed;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.botao-destaque:hover {
    background-color: #a855f7;
    transform: scale(1.05);
}